/* styles.css */
body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  color: #222;
  line-height: 1.6;
  padding-top: 68px;
  margin: 0;
}

h2 {
  font-size: 1.8em;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */
.site-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #111a37;
  padding: 1rem 0;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.logo {
  height: 60px;
  width: auto;
  margin: 0;
}
.nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}
.nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 0;
}
.nav a.active,
.nav a:hover {
  color: #8fd300;
}

/* Hero */
.hero {
  background: #16204e;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  padding: 0 1rem;
}

.hero .container {
  text-align: center;
  max-width: 800px;
  width: 100%;
}

.hero code {
  font-size: 2rem;
}
.green {
  color: #8fd300;
}
.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
}
.btn-primary {
  background: #8fd300;
  color: #0f1946;
}
.btn-primary:hover {
  opacity: 0.9;
}

/* Objetivo */
.objetivo {
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  padding: 0 1rem;
  text-align: center;
}

.objetivo .lead {
  max-width: 700px;
  margin: 1rem auto 2rem;
}

.btn-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding-top: 30px;
  margin-bottom: 2rem;
}
.btn-outline {
  background: #fff;
  border: 1px solid #ccc;
}
.btn-secondary {
  background: #8fd300;
  color: #fff;
  border: none;
}
.btn-dark {
  background: #0f1946;
  color: #fff;
}
.btn-download {
  background: #fff;
  border: 2px solid #8fd300;
  color: #8fd300;
  padding: 0.5rem 1rem;
  margin-top: 3.5rem;
  transition-duration: 200ms;
}
.btn-download:hover {
  background-color: #8fd300;
  color: white;
}

/* Modulos */
.modules {
  padding: 3rem 0;
  text-align: center;
}
.grid-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}

.card {
  position: relative;
  background: #0f1946;
  color: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, background 0.3s ease, box-shadow 0 3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 8px;
  width: 100%;
  background: #8fd300;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.card:hover {
  transform: scale(1.05);
  background: #19225e;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* História e Propósito*/
.story {
  background: #f7f7f7;
  padding: 4rem 0;
}

.story .container {
  text-align: left;
}

.story h2 {
  margin-bottom: 1.5rem;
}
.story p,
.story blockquote {
  max-width: 800px;
  margin: 0 auto 2rem;
}

.story blockquote {
  border-left: 4px solid #8fd300;
  padding-left: 1rem;
  font-style: italic;
}

/* Time */
.team-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  margin-top: 2rem;
  padding-bottom: 40px;
}

.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.member h3 {
  margin: 0;
}

.linkedin {
  margin: 0;
}

.photo {
  width: 120px;
  height: 120px;
  border: 4px solid;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.photo-pink {
  border-color: #d66da6;
}

.photo-green {
  border-color: #8fd300;
}

.photo-blue {
  border-color: #0f1946;
}

.photo-cyan {
  border-color: #1ca7c8;
}

.linkedin {
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  color: #0077b5;
}

/* Footer */
.site-footer {
  background: #0f1946;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

/* pop-up */
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: white;
  max-width: 800px;
  width: 90%;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  position: relative;
}

.modal-content h2 {
  margin-bottom: 1rem;
}

.modal-content iframe {
  width: 100%;
  height: 400px;
  margin-bottom: 1rem;
  border: none;
  border-radius: 6px;
}

.btn-close {
  background: #8fd300;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
}
